@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');

 html{
    font-family: 'Libre Caslon Text', serif;
 }

 ul {
  list-style-type: none; /* Remove bullets */
}

nav * {
  display: inline;
}

header{
    text-align:center;
    background-color: lightblue;
}

footer{
    background-color: lightblue;
}