{% extends 'base.html' %}
{% block title %}Files{% endblock %}
{% block content %}
    <div class="content">
        <h3>Forms Management</h3>
        <p></p>

        </div>
        <div>
          <h3>These are your uploaded files:</h3>
          <p>Click on the filename to download it.</p>
          <ul>
            {% for item in contents %}
              <li>
                <a href="/download/{{ item.Key }}"> {{ item.Key }} </a>
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
{% endblock %}
